<!--<form #weatherform ="ngForm" (submit)="getWeather(city)">
    <input type="text" name="city" id="city" [(ngModel)] = "city" #city ="ngModel"
    [required]="validation.required">
    <input type="submit" value="Get Weather">
</form> -->
<div class="input-container">
    <form (ngSubmit) ="getWeather()">
        <label for="city">Enter a city name:</label>
        <input class="city" id="city" type="text" placeholder="Enter City Here!" [(ngModel)]="city" name="city">
        <button>Get Weather</button>
    </form>
</div>
<div *ngIf="cityName" class="container">
    <div class="upper-info">
        <div class="weather-info">
            <div class="location">{{this.cityName}}</div>
            <div class="temperature">{{this.curTemp}}°F</div>
            <div class="weather">{{this.weather}}</div>
        </div>
    </div>
    <div class="lower-info">
        <div class="lowerlabel">More Information: </div>
        <div class="lower-container">
            <div class="other-info-label">
                <span>Rain (in): </span>
            </div>
            <div class="other-info-value">{{this.precip}} in.</div>
        </div>

        <div class="lower-container">
            <div class="other-info-label">
                <span>Feels Like: </span>
            </div>
            <div class="other-info-value">{{this.feelTemp}}°F</div>
        </div>

        <div class="lower-container">
            <div class="other-info-label">
                <span>Humidity: </span>
            </div>
            <div class="other-info-value">{{this.humidity}}%</div>
        </div>

        <div class="lower-container">
            <div class="other-info-label">
                <span>Wind Speed: </span>
            </div>
            <div class="other-info-value">{{this.windSpeed}}m/h</div>
        </div>
    </div>
</div>