.upper-info {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.weather-info {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location, .temperature, .weather, .lowerlabel, .other-info-label, .other-info-label, .other-info-value{
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.lower-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.lowerlabel{
    width: 100%;
    margin-bottom: 10%;
}
.lower-container {
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 50%;
    background-color: darkslateblue;
    
}

.other-info-label {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.other-info-value {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;

}