
<div class="container">
    <div class="upper-info">
        <div class="weather-info">
            <div class="location">Miami</div>
            <div class="temperature">15°</div>
        </div>
    </div>
    <div class="lower-info">
        <div class="lowerlabel">More Information:</div>
        <div class="lower-container">
            <div class="other-info-label">
                <span>Low: </span>
            </div>
            <div class="other-info-value">10°</div>
        </div>

        <div class="lower-container">
            <div class="other-info-label">
                <span>High: </span>
            </div>
            <div class="other-info-value">20°</div>
        </div>

        <div class="lower-container">
            <div class="other-info-label">
                <span>Humidity: </span>
            </div>
            <div class="other-info-value">50%</div>
        </div>

        <div class="lower-container">
            <div class="other-info-label">
                <span>Wind Speed: </span>
            </div>
            <div class="other-info-value">15m/h</div>
        </div>
    </div>
</div>